@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Oswald:wght@200..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}
.table-wrap {
     max-height: 70vh;
     overflow: auto;
 }

 thead th {
     position: sticky;
     top: 0;
     background: var(--bs-body-bg);
     z-index: 1;
 }

 .room {
     font-weight: 700;
 }

 .alert.alert-danger.mb-0 {
     text-align: justify;
 }

 .main {
     max-width: 480px;
     margin: auto;
     /* background: #b90e12; */
     background: linear-gradient(180deg,  rgb(216, 0, 0) 0%, rgb(55, 0, 0) 100%);
     min-height: 100vh;
     position: relative;
     margin-top: 0px !important;
     margin-bottom: 0px !important;
     overflow-x: hidden;
 }
.contact a{
    position: relative;
    display: inline-block;
    border-radius: 40px;
    padding: 12px 14px;
    background: linear-gradient(90deg, rgb(255, 232, 175) 0%, rgb(255, 197, 51) 50%, rgb(255, 232, 175) 100%);
    border: 0;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    transition: all 0.3s;
    color: #000;
    font-weight: 700;
    text-decoration: none;
}
form.row.gy-3.gx-2.align-items-end{ align-items: center !important;}
 .main::before {
         content: "";
    position: absolute;
    background-image: url(../images/trong.png);
    left: 30%;
    top: -10%;
    width: 100%;
    height: 100%;
    background-size: cover;
 }

 .information {
     position: relative;
     text-align: center;
 }

 .information .content {
     position: relative;
     text-align: center;
     display: inline-block;
     border: 1px solid #ffbd59;
     border-radius: 12px;
     padding: 10px ;
     background: #b90e12;
     width: 100%;
         -webkit-backdrop-filter: blur(35px);
    backdrop-filter: blur(35px);
    background: #ffffff0f;
    border: .5px solid #ffbd59;
    box-shadow: 4px 4px 5px #00000026;
 }

 .information .content span {
     font-size: 16px;
     color: #fff560;
 }

 .information .content p {
    margin: 0px;
    color: #fff560;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
 }

 .information .img-bottom img {
     position: absolute;
    max-width: 250px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -18px;
 }

 .welcome {
     margin-top: 15px;
     margin-bottom: 15px;
 }

.title h1{
        font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    position: relative;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
    color: #fffeda;
    font-size: 36px;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #0000;
    background: linear-gradient(90deg, #ffe8af, #ffc533, #ffe8af);
    -webkit-background-clip: text;
    background-clip: text;
}

 .card.shadow-sm.mb-3 {
    -webkit-backdrop-filter: blur(35px);
    backdrop-filter: blur(35px);
    background: #ffffff0f;
    border: .5px solid #ffbd59;
    box-shadow: 4px 4px 5px #00000026;
    border-radius: 12px;
 }

 button#btn {
     position: relative;
    display: inline-block;
    border-radius: 40px;
    padding: 12px 14px;
    background: linear-gradient(90deg, rgb(255, 232, 175) 0%, rgb(255, 197, 51) 50%, rgb(255, 232, 175) 100%);
    border: 0;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    transition: all 0.3s;
    color: #000;
    font-weight: 700;
 }
@keyframes glowing{
    0% {
    background-position: 0 0;
}
50% {
    background-position: 400% 0;
}
100% {
    background-position: 0 0;
}
}
button#btn:hover{
        animation: glowing 8s linear infinite;
    background-size: 400%;
}
 div#result {
     border: 2px solid #ffbd59;
     border-radius: 12px;
 }
 form .fw-semibold{
font-size: 16px;
    color: #fff;
    font-weight: 400 !important;
 }
 form input#hoten{
    height: 45px;
    background: #950400;
    border-color: transparent;
    font-size: 16px;
    color: #fff;
 }
 form input#hoten::placeholder{
    color: #fff;
    font-size: 12px;
    color: #fff;
    opacity: 0.8;
 }

form input#hoten:focus {
    border: .5px solid transparent;
    box-shadow: none;
 }
form  .form-text{
font-size: 12px;
    color: #fff;
    opacity: 0.8;
 }
 div#result{
    -webkit-backdrop-filter: blur(35px);
    backdrop-filter: blur(35px);
    background: #ffffff0f;
    border: .5px solid #ffbd59;
    box-shadow: 4px 4px 5px #00000026;
    border-radius: 12px;
    margin-bottom: 15px;
 }
 div#result table.table.table-bordered.align-middle{
    margin-bottom: 0px !important;
 }
 .row.g-2.align-items-center.mt-3{
    margin-top: 0px !important;
 }
#result label.col-form-label{
        margin: 0px !important;
    color: #fff;
        float: left;
 }
#result  select#unitFilter{
    height: 45px;
    background-color: #950400;
    border-color: transparent;
    font-size: 16px;
    color: #fff;
    width: 100%;
 }
#result  select#unitFilter:focus {
    border: .5px solid transparent;
    box-shadow: none;
}
#result  .col-auto {
    width: 100%;
    text-align: right;
}
#result  .col-auto button#clearFilter{
        position: relative;
    display: inline-block;
    border-radius: 40px;
    padding: 12px 30px;
    background: linear-gradient(90deg, rgb(255, 232, 175) 0%, rgb(255, 197, 51) 50%, rgb(255, 232, 175) 100%);
    border: 0;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    transition: all 0.3s;
    color: #000;
    font-weight: 700;
}
#result  tbody#listTbody td{
    font-size: 14px;
        font-weight: 400 !important;
}
footer{
        background: #f8f8f8;
}
footer .copyright{
        padding: 15px 0px;
    text-align: center;
    font-size: 14px;
}
.faq {
    position: relative;
    overflow: hidden;
        background: linear-gradient(130deg, rgba(115, 115, 115, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
}
.faq::before{
       content: "";
    position: absolute;
    top: 15%;
    left: -50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: rotate(45deg);
    opacity: 0.15;
    background: #ff0000;
    filter: blur(199.9999847412px);
        
}
/* background: linear-gradient(130deg, rgba(115, 115, 115, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%); */
.faq h3{
    background: linear-gradient(90deg, rgb(247, 0, 0) 0%, rgb(255, 119, 119) 50%, rgb(247, 0, 0) 100%);
    background-clip: text;
    color: transparent;
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    position: relative;
    text-align: center;
    font-size: 36px;
    letter-spacing: -1px;
}
.organization{
        border-radius: 12px;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(13.7499990463px);
    text-align: center;
    padding: 10px;
}
.organization h4{
    background: linear-gradient(90deg, rgb(247, 0, 0) 0%, rgb(255, 119, 119) 50%, rgb(247, 0, 0) 100%);
    background-clip: text;
    color: transparent;
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    position: relative;
    text-align: center;
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 50px;
}
.organization p{
        margin-bottom: 0px;
    font-size: 18px;
    color: #000;
    font-weight: 600;
    line-height: 24px;
}
.main.class{
    min-height: auto;
}
#agenda {
    padding-bottom: 15px;
    padding-top: 15px;
}
button.accordion-button{
        font-family: 'Roboto Flex';
}
.fw-semibold{
    color: #fff;
}
.text-secondary.small.mt-2{
    display: none !important;
}
#agenda h2{
        background: linear-gradient(90deg, rgb(247, 0, 0) 0%, rgb(255, 119, 119) 50%, rgb(247, 0, 0) 100%);
    background-clip: text;
    color: transparent;
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    position: relative;
    text-align: center;
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 50px;
}
 .select-arrow-white.form-select{
  --bs-form-select-bg-img: url("data:image/svg+xml,\
%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none'%3e\
%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e\
%3c/svg%3e");
}
